{% extends 'layout.twig' %}
{% block head_js %}
{#
    <script type="text/javascript" src="/assets/js/JPlayer/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
#}
    <link rel="stylesheet" href="/assets/js/jquery-ui-1.12.1/jquery-ui.min.css"  type="text/css" >
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui-1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="/assets/js/JPlayer/dist/jplayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/assets/js/customPlayer.js"></script>
    <link href="/assets/js/JPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}

    <div class="container">
        <h1>Sort of dashboard</h1>

        <div id="divv"></div>
        <script>
          $(document).ready(function() {
            CustomPlayer($('#divv'), function () {
              $(this).jPlayer("setMedia", {
                  title: "Big Buck Bunny Trailer",
                  m4v: "/assets/videos/small.mp4",
                  poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
                }
              )
            })
          })</script>

    </div>

{% endblock %}
