{% extends 'layout.twig' %}
{% block head_js %}
    <script type="text/javascript" src="/assets/js/JPlayer/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/JPlayer/dist/jplayer/jquery.jplayer.min.js"></script>
    <link href="/assets/js/JPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/js/customPlayer.js"></script>
{% endblock %}
{% block body %}

    <div class="container">
        <h1>Sort of dashboard</h1>

        <div id="divv"></div>
        <script>CustomPlayer($('#divv'))</script>

    </div>

{% endblock %}
