{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <h3 >Latest sequences</h3>
    
    <ul class="list-group">
        {% if sequences %}
            {% for seq in sequences %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><b>{{ seq.name }}</b> ({{ seq.timing }})</span>

                    <span class="badge">                        
                        <a href="{{ path_for('comments', { "id": seq.id }) }}" class="btn btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>                              
                    </span>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No clip yet 
            </li>
        {% endif %}
    </ul>    

    <br>

    {% if rand_id %}
        <h3>Not feeling inspired? Watch a random sequence!</h3>
        
        <a href="{{ path_for('comments', {"id": rand_id}) }}" class="btn btn-lg btn-primary" style="color: white">Random sequence</a>
    {% endif %}
</div>

{% endblock %}
